In [9]:
import time

In [10]:
start=time.time()

In [12]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd
data = {'Transaction': [1, 2, 3, 4, 5],
        'Items': [['milk', 'bread', 'jam'],
                  ['milk', 'bread', 'butter'],
                  ['milk', 'bread'],
                  ['milk', 'butter'],
                  ['bread', 'jam']]}
df = pd.DataFrame(data)
one_hot_encoded = df['Items'].str.join('|').str.get_dummies()
frequent_itemsets = apriori(one_hot_encoded, min_support=0.5, use_colnames=True)
print("Frequent Itemsets:")
print(frequent_itemsets)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
print("\nAssociation Rules:")
print(rules)
end=time.time()
print(end-start)

Frequent Itemsets:
   support       itemsets
0      0.8        (bread)
1      0.8         (milk)
2      0.6  (milk, bread)

Association Rules:
  antecedents consequents  antecedent support  consequent support  support  \
0      (milk)     (bread)                 0.8                 0.8      0.6
1     (bread)      (milk)                 0.8                 0.8      0.6

   confidence    lift  leverage  conviction  zhangs_metric
0        0.75  0.9375     -0.04         0.8          -0.25
1        0.75  0.9375     -0.04         0.8          -0.25
12.55371379852295

C:\Users\DSE LAB 27\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [13]:
start=time.time()

In [14]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [15]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [16]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.6)

    support   itemsets
0       1.0        (5)
1       0.8        (3)
2       0.6       (10)
3       0.6        (8)
4       0.6        (6)
5       0.8     (3, 5)
6       0.6    (10, 5)
7       0.6     (8, 3)
8       0.6     (8, 5)
9       0.6  (8, 3, 5)
10      0.6     (5, 6)

In [17]:
fpgrowth(df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Kidney Beans, Eggs)
6       0.6       (Kidney Beans, Yogurt)
7       0.6                (Onion, Eggs)
8       0.6        (Kidney Beans, Onion)
9       0.6  (Kidney Beans, Onion, Eggs)
10      0.6         (Kidney Beans, Milk)

In [18]:
end=time.time()
print(end-start)

3.215977668762207